/*$baseFontFamily: Oxygen;*/
/*@import: url(htt://fonts.googleapis.com/css?family);*/

$navbarBackgroundHighlight: white;
$navbarBackground: blue;

@import 'bootstrap';



.footer {
	margin-top: 50px;
	
}